body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

/* header */

.header-fixed {
    position: fixed;
    left: 0;
    top: 0;
}

.blur {
    max-width: 100%;
    height: 70px;
    padding-top: 40px;

    position: sticky;
    top: 0;
    filter: blur(15px);
}

.header {
    max-width: 100%;
    height: 70px;
    padding-top: 40px;
    box-shadow: 0 20px 15px -15px rgba(23, 22, 22, 0.2);
    background: white fixed;

    opacity: 0.97;
    position: sticky;
    top: 0;
    z-index: 10;
}


nav {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: auto;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
}

nav a:hover {
    color: #efc6a0;
    transition: 0.3s;
}





.login-page {
    height: 600px;
}

.form {
    display: flex;
    width: 1000px;
    margin: 50px auto auto;
    box-shadow:  36px 36px 72px #bfbfbf,
    -36px -36px 72px #ffffff;
}

.form .image img {
    width: 450px;
}

.decor {
    position: absolute;
    left: 251px;
    top: 160px;
    width: 350px;
    height: 450px;
    padding: 50px;
}

.decor h1 {
    font-size: 48px;
    font-weight: 500;
    color: white;
    text-align: center;
    margin-top: 150px;
}

.decor p {
    font-size: 24px;
    font-weight: 400;
    color: white;
    text-align: center;
}

.login input[type="text"] {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 300px;
    height: 30px;
    margin-top: 30px;
}

.login {
    margin: auto;
}

.login form{
    display: flex;
    flex-direction: column;
}

.login form a{
    text-align: center;
    color: black;
    margin-top: 30px;
}

.login h1 {
    font-size: 48px;
    font-weight: 500;
    color: #000000;
    text-align: center;
}

input[type="submit"] {
    width: 144px;
    height: 39px;
    margin: 30px auto auto;
    background: none;
    border: 2px solid #000000;
    color: black;
}

input:hover[type="submit"] {
    width: 144px;
    height: 39px;
    margin-top: 30px;
    background: #000000;
    border: 2px solid #000000;
    color: white;
    cursor: pointer;

    transition: 0.5s;
}


input[type="text"]:hover {

    outline: 0;
    border-bottom: solid 2px #efc6a0;
    cursor: text;
}

input[type="text"]:focus {
    transition: 0.5s;

    outline: 0;
    border-bottom: solid 3px #efc6a0;
    cursor: text;
}


