@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="section-1" style="margin-top: 30px;">
    <div class="img-decoration"></div>
    <img src="~/img/sect1.jpg" alt="">
    <div class="s1-info">
        <h1>MUG</h1>
        <div class="line"></div>
        <h3>Cafe where coffee
            is an art.</h3>
        <a asp-action="Coffee" asp-controller="Coffee" ><input type="button" value="STORE" style="margin-right: 40px;"></a>
        <a asp-action="About" asp-controller="About" ><input type="button" value="ABOUT US"></a>
    </div>
</div>

<div class="section-2">
    <div class="s2-info">
        <div class="s2-info-left">
            <div class="s2-info-left-text">
                <h3>High quality</h3>
                <p>We use only high quality coffee beans</p>
                <p>Our coffee has a mild taste of fresh, well-whipped milk and a pleasant aftertaste</p>
            </div>
            <div class="s2-info-left-img">
                <img src="~/img/sect21.jpg" alt="">
            </div>
        </div>

        <div class="s2-info-right">
            <img src="~/img/sect22.jpg" alt="">
        </div>
    </div>
    <div class="s2-img-decoration1"></div>
    <div class="s2-img-decoration2"></div>
</div>

<div class="section-3">
    <div class="s3-info">
        <div class="s3-info-left">
            <img src="~/img/sect31.jpg" alt="">
        </div>
        <div class="s3-info-right">
            <h3>It's cozy here</h3>
            <p>Our coffee shops as well as our website create a warm and cozy atmosphere.</p>
            <p>In our coffee shops, it is comfortable both to communicate with friends and to sit with a laptop and solve your important affairs with pleasant music.</p>
            <img src="~/img/sect32.jpg" alt="">
        </div>
    </div>
    <div class="s3-img-decoration1"></div>
    <div class="s3-img-decoration2"></div>
    <div class="s3-img-decoration3"></div>
    <div class="s3-line"></div>
</div>

<div class="section-4">
    <div class="s4-info">
        <div class="s4-info-left">
            <h3>Tenderness</h3>
            <p>Our staff will always offer coffee to your liking and will find an approach to everyone. We will always try our best for you.</p>
            <p>You can always share your creative ideas and suggestions, and we will try to listen to you. We are getting better for you.</p>
        </div>
        <div class="s4-info-right-up">
            <img src="~/img/sect41.jpg" alt="" id="img-sect41">
            <img src="~/img/sect43.png" alt="" id="img-sect43">
        </div>
        <div class="s4-info-right-down">
            <img src="~/img/sect42.png" alt="" id="img-sect42">
            <img src="~/img/sect44.jpg" alt="" id="img-sect44">
        </div>
    </div>
    <div class="s4-img-decoration1"></div>
    <div class="s4-img-decoration2"></div>
    <div class="s4-img-decoration3"></div>
    <div class="s4-line"></div>
</div>

<div class="section-5">
    <div class="s5-info">
        <h3>Short about us</h3>
        <div class="s5-cards">
            <div class="card">
                <h3><i class="fas fa-hand-holding-heart"></i></h3>
                <p>We use only high quality coffee beans</p>
            </div>
            <div class="card">
                <h3><i class="fas fa-laptop"></i></h3>
                <p>It’s comfortable to rest and work in our cafe</p>
            </div>
            <div class="card">
                <h3><i class="fas fa-seedling"></i></h3>
                <p>We also use vegan milk for coffee</p>
            </div>
        </div>
        <input type="button" value="LEARN MORE" style="margin-top: 100px; margin-left: calc(50% - 144px/2);">
    </div>

    <div class="s5-decoration1"></div>
    <div class="s5-decoration12"></div>
    <div class="s5-line2"></div>
    <div class="s5-decoration22"></div>
    <div class="s5-decoration2"></div>

    <div class="s5-line1"></div>
</div>
