body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

/* header */

.header-fixed {
    position: fixed;
    left: 0;
    top: 0;
}

.blur {
    max-width: 100%;
    height: 70px;
    padding-top: 40px;

    position: sticky;
    top: 0;
    filter: blur(15px);
}

.header {
    max-width: 100%;
    height: 70px;
    padding-top: 40px;
    box-shadow: 0 20px 15px -15px rgba(23, 22, 22, 0.2);
    background: white fixed;

    opacity: 0.97;
    position: sticky;
    top: 0;
    z-index: 10;
}


nav {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: auto;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
}

nav a:hover {
    color: #efc6a0;
    transition: 0.3s;
}

/*section1*/

.section-1 {
    max-width: 1000px;
    height: 740px;
    display: flex;
}

.section-1 img {
    width: 807px;
    height: 576px;
}

.img-decoration {
    position: absolute;
    width: 807px;
    height: 576px;
    left: 16px;
    top: 130px;
    z-index: -1;

    border: 2px solid #000000;
    box-sizing: border-box;
}

.s1-info {
    margin-top: 70px;
    padding-left: 100px;
}

.s1-info h1 {
    font-size: 64px;
    font-weight: 500;
    text-align: center;
}

.s1-info .line {
    width: 350px;
    height: 0;
    background: #000;
    margin-top: 80px;
    margin-bottom: 80px;

    border: 0.5px solid #000000;
    transform: rotate(-11.21deg);
}

.s1-info h3 {
    font-size: 36px;
    font-weight: 400;
    color: black;
}

input {
    width: 144px;
    height: 39px;
    margin-top: 30px;
    background: none;
    border: 2px solid #000000;
    color: black;
}

input[type="submit"]:hover {
    width: 144px;
    height: 39px;
    margin-top: 30px;
    background: #000000;
    border: 2px solid #000000;
    color: white;
    cursor: pointer;

    transition: 0.5s;
}

/*section2*/

.section-2 {
    width: 100%;
    height: 900px;
    background: #292929;
    color: white;
}

.s2-info h3 {
    font-size: 48px;
    font-weight: 500;
}

.s2-info {
    width: 1000px;
    margin: auto;
    display: flex;
}

.s2-info-left-text {
    padding-top: 150px;
    width: 450px;
    color: white;
}

.s2-info-left p {
    font-size: 24px;
    margin-top: 40px;
}

.s2-info-left-img img {
    width: 570px;
    padding-top: 40px;
    position: relative;
    z-index: 1;
}

.s2-info-right img {
    position: relative;
    padding-top: 180px;
    width: 330px;
    margin-left: 100px;
    z-index: 1;
}

.s2-img-decoration1 {
    position: absolute;
    width: 477px;
    height: 676px;
    left: 713px;
    top: 980px;
    z-index: 0;

    border: 2px solid #FFFFFF;
    box-sizing: border-box;
}


.s2-img-decoration2 {
    position: absolute;
    width: 295px;
    height: 317px;
    left: 788px;
    top: 1100px;

    background: #EFC6A0;
}

/*section-3*/

.section-3 {
    width: 100%;
    height: 900px;
    background: #ffffff;
    color: black;
}

.s3-info {
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.s3-info-left {
    width: 450px;
    margin-top: 80px;
}

.s3-info-left img {
    position: relative;
    width: 390px;
    z-index: 1;
}

.s3-img-decoration1 {
    position: absolute;
    width: 394px;
    height: 575px;
    left: 273px;
    top: 1810px;
    z-index: 0;

    background: #EFC6A0;
}

.s3-img-decoration2 {
    position: absolute;
    width: 394px;
    height: 575px;
    left: 262px;
    top: 1836px;
    z-index: 0;

    border: 2px solid #000000;
    box-sizing: border-box;
}

.s3-info-right h3 {
    font-size: 48px;
    font-weight: 500;
}

.s3-info-right p {
    font-size: 24px;
    margin-top: 40px;
}

.s3-info-right {
    position: relative;
    margin-top: 70px;
    width: 550px;
}

.s3-info-right img {
    position: relative;
    margin-top: 130px;
    margin-left: 110px;
    width: 450px;
    z-index: 1;
}

.s3-img-decoration3 {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 700px;
    top: 2150px;
    z-index: 0;

    background: #EFC6A0;
}

.s3-line {
    position: absolute;
    width: 425px;
    height: 0;
    background: #000;
    left: 260px;
    top: 2530px;

    border: 0.5px solid #000000;
    transform: rotate(-11.12deg);
}

/*section4*/

.section-4 {
    width: 100%;
    height: 900px;
    background: #292929;
    color: white;
}

.s4-info {
    width: 1000px;
    margin: auto;
    display: flex;
}

.s4-info-left {
    width: 450px;
    margin-top: 170px;
}

.s4-info-left h3 {
    font-size: 48px;
    font-weight: 500;
}

.s4-info-left p {
    font-size: 24px;
    margin-top: 40px;
}

.s4-info-right-up {
    position: relative;
    margin-top: 93px;
    margin-left: 20px;
    width: 250px;
    z-index: 2;
}

.s4-info-right-down {
    position: relative;
    margin-top: 131px;
    margin-left: 20px;
    width: 250px;
    z-index: 1;
}

#img-sect41 {
    width: 200px;
}

#img-sect42 {
    width: 310px;
}

#img-sect43 {
    width: 200px;
    margin-top: 36px;
}

#img-sect44 {
    width: 240px;
    margin-top: 29px;
}

.s4-img-decoration1 {
    position: absolute;
    width: 200px;
    height: 293px;
    left: 710px;
    top: 2730px;
    z-index: 0;

    border: 2px solid #FFFFFF;
    box-sizing: border-box;
}

.s4-img-decoration2 {
    position: absolute;
    width: 228.9px;
    height: 300px;
    left: 1015px;
    top: 3070px;
    z-index: 0;

    border: 2px solid #FFFFFF;
    box-sizing: border-box;
}

.s4-img-decoration3 {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 870px;
    top: 2980px;
    z-index: 1;

    background: #EFC6A0;
}

.s4-line {
    position: absolute;
    width: 369.68px;
    height: 0;
    left: 260px;
    top: 3400px;
    background: #ffffff;

    border: 0.5px solid #FFFFFF;
    transform: rotate(-8.12deg);

}

/*section5*/

.section-5 {
    width: 100%;
    height: 900px;
    background: #ffffff;
    color: black;
}

.section-5 h3 {
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    margin: 100px;
}

.s5-info {
    width: 1000px;
    margin: auto;
}

.s5-cards {
    display: flex;
    justify-content: space-between;
}

.s5-info .card {
    width: 290px;
    height: 380px;
    padding: 20px;
    background: #ffffff;
    box-shadow:  36px 36px 72px #bfbfbf,
    -36px -36px 72px #ffffff;
}

.s5-cards .card h3 {
    margin-top: 70px;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
}

.s5-cards .card p {
    font-size: 24px;
    margin-top: 40px;
    text-align: center;
}

.s5-line1 {
    position: absolute;
    width: 200px;
    height: 0;
    left: 263px;
    top: 3700px;
    background: black;

    border: 0.5px solid #000000;
    transform: rotate(14.88deg);
}

.s5-line2 {
    position: absolute;
    width: 280px;
    height: 0;
    left: 1000px;
    top: 4400px;
    background: black;

    border: 0.5px solid #000000;
    transform: rotate(-21.02deg);
}

.s5-decoration1 {
    position: absolute;
    width: 93px;
    height: 100px;
    left: 1057px;
    top: 3630px;

    background: #EFC6A0;
    transform: rotate(-10.13deg);
}

.s5-decoration12 {
    position: absolute;
    width: 92px;
    height: 100px;
    left: 1076px;
    top: 3650px;

    border: 1px solid #000000;
    box-sizing: border-box;
    transform: rotate(37.06deg);
}

.s5-decoration2 {
    position: absolute;
    width: 132.8px;
    height: 48.82px;
    left: 280px;
    top: 4380px;

    border: 1px solid #000000;
    box-sizing: border-box;
    transform: rotate(37.06deg);
}

.s5-decoration22 {
    position: absolute;
    width: 67.41px;
    height: 85.09px;
    left: 310.22px;
    top: 4340px;

    background: #EFC6A0;
    transform: rotate(11.67deg);
}

/*footer*/

footer {
    padding-top: 50px;
    width: 100%;
    height: 370px;
    background: #292929;
}

.footer-info {
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer-info div {
    display: flex;
    flex-direction: column;
}

.footer-info h6 {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;

    color: #FFFFFF;
}

.footer-info a {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 18px;
    text-decoration: none;
    line-height: 40px;

    color: #969696;
}



.order-conf table,
.order-conf td,
.order-conf a {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.order-conf table,
.order-conf td {
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
}

.order-conf img {
    -ms-interpolation-mode: bicubic;
}

.order-conf img {
    border: 0;
    height: auto;
    line-height: 100%;
    outline: none;
    text-decoration: none;
}

.order-conf table {
    border-collapse: collapse !important;
}

.order-conf a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
}

@media screen and (max-width: 480px) {
    .mobile-hide {
        display: none !important;
    }

    .mobile-center {
        text-align: center !important;
    }
}

.order-conf div[style*="margin: 16px 0;"] {
    margin: 0 !important;
}