@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<img src="~/img/about_main.jpg" alt="" style="width: 100%; height: 100%; ">
<a asp-action="Coffee" asp-controller="Coffee" ><input type="button" value="STORE" style="position: absolute; z-index: 10; top: 770px; left: 730px"></a>
